/* 1 */
p {
    font-family: Arial;
}


/* 3 */
.cube{
    width: 100px;
    height: 100px;
    background-color: rgb(13, 167, 162);
    transition: 0.5s;
}
.cube:hover{
    width:300px;
    height:300px;
    background-color: rgb(19, 94, 115);
}

/* 4 */
a{
    color:green
}
a:hover{
    color:rgb(176, 28, 28)
}


/* 5 */
/* classwork already finished */