h1 {
    color:orange;
    text-align: center;
    background-color: rgb(72, 51, 13);
}
p {
    color:orange;
    text-align: center;
    background-color: rgb(72, 51, 13);
}

body {
    background-color: rgb(72, 51, 13);
}
img {
    margin-left: 100px;
}

a {
    color:orange
}