h1{
    color:orangered;
    background-color:yellow ;
    text-align: center;
}

p{
    color:orangered;
    background-color: yellow;
    text-align: center;
}

body{
    background-color: yellow;
}

img {
    margin-left: 30px;
}




