/* 1 */
/* flex-shrink -  ელემენტის დაპატარავება*/
/* flex-grow -  რამდენად გაიზარდოს ელემენტი*/
/* align self - 1 ელემენტი განსხვავდებოდეს სხვებისგან */
/* order - ცვლის ელემენტების განლაგებას --> */

/* 2 */
.container {
    display: flex;
    width: 900px;
    height: 200px;
    border: 2px solid black;
}

.box {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
}

.box1 {
    background-color: rgb(54, 34, 34);
    flex-grow: 1;
}

.box2 {
    background-color: rgb(1, 1, 34);
    flex-grow: 2;
}

.box3 {
    background-color: rgb(5, 36, 5);
    flex-grow: 3;
}




















