/* 3 */
.container {
    display: flex;
    height: 300px;
    border: 2px solid black;
}

.box {
    width: 80px;
    height: 80px;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 80px;
}

.box1 {
    background-color: red;
    align-self: flex-start;
}

.box2 {
    background-color: blue;
    align-self: center;
}

.box3 {
    background-color: green;
    align-self: flex-end;
}

.box4 {
    background-color: purple;
    align-self: center;
}