table {
    border-collapse: collapse;
    width: 720px;
}

th {
    background-color: #99c221;
    border: 2px solid #6b8e23;
    padding: 12px;
    text-align: left;
    font-size: 20px;
}

td {
    border: 2px solid #6b8e23;
    padding: 12px;
    font-size: 18px;
}

tr {
    height: 48px;
}