/* 1 */
ul {
list-style-type: circle; 
}

ul ul {
list-style-type: square; 
list-style-position: inside;
}


/* 2 */
ol {
    list-style-type: upper-roman;
    border: 2px solid black;
    padding: 20,75px;
    width: 300px;
}

/* 3 */
ul {
    list-style-image: url("./image.png");
}
