/* 1) */
/* Tag selector - ეს სელექტორი ირჩევს HTML ფაილში ყველა ერთნაირ თეგს.
/* Class selector - კლასის სელექტორი   ირჩევს იმ ელემენტებს, რომლებსაც აქვთ კონკრეტული class ატრიბუტი.
/* ID selector - აიდის სელექტორი   ირჩევს კონკრეტულ ერთ ელემენტს, რომელსაც აქვს თავისი id.


/* 2) */
p {
    color: red;
}

.text {
    color: blue;
}


#goa {
    color: green;
}


/* 4 */
p{
    color:rgb(233,231,54,)
}
